html, body {
    height: 100%;
    margin: 0;

}
hr {
    border-top: 1px solid grey;
}

.containerbgwhite {
    width: 720px;
}

.wrapper span {
    float: left;
    padding-right: 1em;
}


#MyPage {
    padding-left: 0px;
}

.wrapper {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
}
body {
    padding: 0;
    margin: 0;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background-image: url(assets/ep_naturalwhite/ep_naturalwhite.png)
  }
/* Background pattern from Toptal Subtle Patterns */

h1,h2 {
    color: #4aaaa5;
}
.button {
    color: #4aaaa5;
}

.squarebob {
    background-image: url("assets/profile bob.png");
    background-repeat: no-repeat;
}
.looniebob {
    background-image: url("assets/loonie bob.png");
    background-repeat: no-repeat;
}
.smileybob {
    background-image: url("assets/smiley bob.png");
    background-repeat: no-repeat;
}
.homie {
    background-image: url("assets/homie.gif");
    background-repeat: no-repeat;
}
.nerdybob {
    background-image: url("assets/nerdybob.png");
    background-repeat: no-repeat;
}   
.myprojectgrid {

}

.myprojectgrid div {
    padding: 0px;
    margin: 15px;
    /* width: 300px; */
}
.myprojectgrid p {
    margin-top: 100px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    background-color: turquoise;
    opacity: .5;
}

.footerportfolio {
    position: absolute;
    bottom: -5;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #666666;
    color: #cccccc;
    border-top: 6px solid #4aaaa5;
    text-align: center;
    margin-top: -50px;
}

.footerabout {
    position: absolute;
    bottom: -5;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #666666;
    color: #cccccc;
    border-top: 6px solid #4aaaa5;
    text-align: center;
    margin-top: 275px;
}

.footercontact {
    position: absolute;
    bottom: -5;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #666666;
    color: #cccccc;
    border-top: 6px solid #4aaaa5;
    text-align: center;
    margin-top: 275px;
}